/* header */
header {
    width: 100%;
}
/* top */
header .top_bg {
    width: 100%;
    border-bottom: 1px solid #000;
}
header .top_bg .top {
    width: 1280px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .top_bg .top .left {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
}
header .top_bg .top .left .naver {
    width: 80.67px; height: 40px; margin-right: 15px;
    
}
header .top_bg .top .left .naver img {width: 100%;}
header .top_bg .top .left a {letter-spacing: -0.04em;}
header .top_bg .top .right {
    display: flex; flex-flow: row nowrap;
}
header .top_bg .top .right a {
    letter-spacing: -0.04em; margin-right: 15px;
}
header .top_bg .top .right a:last-child {margin-right: 0;}
header .top_bg .top .right .menu {width: 20px; height: 20px;}
header .top_bg .top .right .menu img {width: 100%;}
/* middle */
header .middle {
    width: 1280px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-around;
}
header .middle .left {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center; 
    padding: 59.5px 0 34.5px;
}
header .middle .left #inform_btn {
    margin-right: 15px; width: 125px;
    background: #ffc128; border-radius: 50px; padding: 7px 18px;
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;
}
header .middle .left #inform_btn img {
    width: 22px; height: 22px; margin-right: 5px;
}
header .middle .left #inform_btn span {
    letter-spacing: -0.04em; color: #fff;
}
header .middle .left .like {
    width: 140px; margin-right: 5px;
    letter-spacing: -0.04em;
}
header .middle .left #qusetion_btn {
    width: 20px; height: 20px; background: none;
}
header .middle .left #qusetion_btn img {width: 100%;}
header .middle .middle {padding: 50px 0 25px;}
header .middle .middle h1 {
    width: 177.78px; height: 55px;
}
header .middle .middle h1 a {}
header .middle .middle h1 a img {width: 100%;}
header .middle .right {padding: 55px 0 30px;}
header .middle .right #search_frm {}
header .middle .right #search_frm fieldset {
    width: 240px; height: 45px; border-radius: 50px;
    background: #fff; display: flex; 
    flex-flow: row nowrap; align-items: center;
} 
header .middle .right #search_frm fieldset #txt_input {
    width: 75%;
    letter-spacing: -0.04em; color: #787878;
    margin-left: 16px;
}
header .middle .right #search_frm fieldset #search_btn {
    width: 20px; height: 20px; background: none;
    margin-left: 10px;
}
header .middle .right #search_frm fieldset #search_btn img {width: 100%;}
/* bottom */
header .bottom {
    width: 1280px; margin: 0 auto;
    padding: 25px 0;
}
header .bottom #nav {
}
header .bottom #nav a {
    font-size: 1.333rem; letter-spacing: -0.04em;
    margin-right: 30px;
}
header .bottom #nav .face,
header .bottom #nav .eye,
header .bottom #nav .lip {
    display: inline-flex; flex-flow: row nowrap;
}
header .bottom #nav .face span,
header .bottom #nav .eye span,
header .bottom #nav .lip span {
    font-size: 1.333rem; letter-spacing: -0.04em;
    margin-right: 5px;
}
header .bottom #nav .face span img,
header .bottom #nav .eye span img,
header .bottom #nav .lip span img {
    width: 16px; height: 16px;
}

/* main */
main .login_bg {
    width: 100%;
    background: url(../images/login/login_bg.png) no-repeat;
    background-size: cover;
}
main .login_bg .login {
    width: 1280px; margin: 0 auto;
    padding: 80px 0;
}
main .login_bg .login #login_frm {}
main .login_bg .login #login_frm fieldset {}
main .login_bg .login #login_frm fieldset ul {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    align-items: center;
}
/* frm-logo */
main .login_bg .login #login_frm fieldset ul .logo {margin-bottom: 40px;}
main .login_bg .login #login_frm fieldset ul .logo h2 {
    width: 100px; height: 100px;
}
main .login_bg .login #login_frm fieldset ul .logo h2 a {}
main .login_bg .login #login_frm fieldset ul .logo h2 a img {width: 100%;}
/* frm-id */
main .login_bg .login #login_frm fieldset ul .id {
    background: none;
    border: 1px solid #7a7a7a; border-radius: 10px 10px 0 0;
    border-bottom: none;
    width: 400px;
}
main .login_bg .login #login_frm fieldset ul .id input {
    background: none;
    width: 100%; padding: 17.5px 181px 17.5px 20px;
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
/* frm-pw */
main .login_bg .login #login_frm fieldset ul .pw {
    border: 1px solid #7a7a7a; border-radius: 0 0 10px 10px; width: 400px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; padding: 15px 20px; margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .pw input {
    width: 90%; background: none;
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
main .login_bg .login #login_frm fieldset ul .pw #view_btn {
    width: 20px; height: 20px; background: none;
}
main .login_bg .login #login_frm fieldset ul .pw #view_btn img {width: 100%;}
/* frm-login_btn */
main .login_bg .login #login_frm fieldset ul .login_btn {
    margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .login_btn #login_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #fff; background: #7a7a7a; width: 400px;
    border-radius: 10px; padding: 22.5px 0;
}
/* frm-id_pw */
main .login_bg .login #login_frm fieldset ul .id_pw {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; width: 400px; margin-bottom: 40px;
}
main .login_bg .login #login_frm fieldset ul .id_pw .check {
    background: url(../images/login/check.png); display: inline-block;
}
main .login_bg .login #login_frm fieldset ul .id_pw label {font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04em; color: #434343;}
main .login_bg .login #login_frm fieldset ul .id_pw label #save {}
main .login_bg .login #login_frm fieldset ul .id_pw a {
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
/* frm-sns */
main .login_bg .login #login_frm fieldset ul .sns {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .sns a {
    width: 42px; height: 42px; margin-right: 20px;
}
main .login_bg .login #login_frm fieldset ul .sns a img {
    width: 100%;
}
/* frm-protect */
main .login_bg .login #login_frm fieldset ul .protect {
    text-align: center; margin-bottom: 40px;
}
main .login_bg .login #login_frm fieldset ul .protect span {
    letter-spacing: -0.04em; line-height: 30px; font-size: 1.333rem;
    color: #7a7a7a;
}
/* frm-join */
main .login_bg .login #login_frm fieldset ul .join {
    margin-bottom: 10px;
}
main .login_bg .login #login_frm fieldset ul .join #join_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #ffc128; background: none; width: 400px;
    border-radius: 10px; padding: 22.5px 0; border: 1px solid #ffc128;
}
/* frm-no_memeber */
main .login_bg .login #login_frm fieldset ul .no_member {
    margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .no_member #no_member_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #434343; background: none; width: 400px;
    border-radius: 10px; padding: 22.5px 0; border: 1px solid #7a7a7a;
}
/* frm-line */
main .login_bg .login #login_frm fieldset ul .span {margin-bottom: 25px;}
main .login_bg .login #login_frm fieldset ul .span span {
    display: inline-block; width: 400px; height: 1px; background: #7a7a7a;
}
/* frm-phone_login */
main .login_bg .login #login_frm fieldset ul .phone_login {
    background: #def0f0; border-radius: 10px;
    width: 400px; padding: 20px 95px;
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn {
    display: flex; flex-flow: row nowrap; align-items: center;
    background: none;
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn img {
    width: 20px; height: 20px; margin-right: 10px; 
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn .ph {
    font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #434343;
}
/* footer */
footer {
    width: 100%;
}
footer .contents {
    width: 1280px; margin: 0 auto;
    padding: 35px 0;
}
footer .contents .top {
    width: 1280px; display: flex;
    flex-flow: row nowrap; justify-content: space-between; margin-bottom: 15px;
}
footer .contents .top #fnb {
    padding: 8.5px 0 28.5px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
footer .contents .top #fnb a {
    letter-spacing: -0.04em;
}
footer .contents .top #fnb a::after {
    display: inline-block; content: '';
    background: #000; width: 1px; height: 13px;
    margin: 0 13px;
}
footer .contents .top #fnb a:nth-child(6)::after {
    display: none;
}
footer .contents .top #fnb a em {
    font-weight: 700; letter-spacing: -0.04em;
}
footer .contents .top .middle {
    padding: 7px 0 27px; display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
}
footer .contents .top .middle #global {
    margin-right: 20px; letter-spacing: -0.04em;
    border: none; width: 130px;
}
footer .contents .top .middle #global option {
    letter-spacing: -0.04em;
}
footer .contents .top .middle #language {
    margin-right: 20px; letter-spacing: -0.04em;
    border: none; width: 130px;
}
footer .contents .top .middle #language option {
    letter-spacing: -0.04em;
}
footer .contents .top .right {
    padding-bottom: 20px;
}
footer .contents .top .right a {
    margin-left: 13px;
    width: 30px; height: 30px;
}
footer .contents .top .right a img {}
footer .contents .bottom {
    width: 1280px; display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
} 
footer .contents .bottom .left {
    margin-right: 90px;
}
footer .contents .bottom .left #address {
    letter-spacing: -0.04em;
    line-height: 30px;
}
footer .contents .bottom .left #address span {
    width: 1px; height: 11px; background: #000;
    display: inline-block; margin: 0 13px;
}
footer .contents .bottom .right {
    display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
footer .contents .bottom .right .center {
    font-size: 1.333rem; letter-spacing: -0.04em;
    margin-bottom: 10px
}
footer .contents .bottom .right .number {
    font-weight: 500; font-size: 2.369rem;
    letter-spacing: -0.04em; text-decoration: underline;
    margin-bottom: 10px;
}
footer .contents .bottom .right .time {
    letter-spacing: -0.04em;
    line-height: 26px;
}