/* main */
main .login_bg {
    width: 100%;
    background: url(../images/login/login_bg.png) no-repeat;
    background-size: cover;
}
main .login_bg .login {
    width: 1280px; margin: 0 auto;
    padding: 80px 0;
}
main .login_bg .login #login_frm {}
main .login_bg .login #login_frm fieldset {}
main .login_bg .login #login_frm fieldset ul {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    align-items: center;
}
/* frm-logo */
main .login_bg .login #login_frm fieldset ul .logo {margin-bottom: 40px;}
main .login_bg .login #login_frm fieldset ul .logo h2 {
    width: 100px; height: 100px;
}
main .login_bg .login #login_frm fieldset ul .logo h2 a {}
main .login_bg .login #login_frm fieldset ul .logo h2 a img {width: 100%;}
/* frm-id */
main .login_bg .login #login_frm fieldset ul .id {
    background: none;
    border: 1px solid #7a7a7a; border-radius: 10px 10px 0 0;
    border-bottom: none;
    width: 400px;
}
main .login_bg .login #login_frm fieldset ul .id input {
    background: none;
    width: 100%; padding: 17.5px 150px 17.5px 20px;
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
/* frm-pw */
main .login_bg .login #login_frm fieldset ul .pw {
    border: 1px solid #7a7a7a; border-radius: 0 0 10px 10px; width: 400px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; padding: 15px 20px; margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .pw input {
    width: 90%; background: none;
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
main .login_bg .login #login_frm fieldset ul .pw #view_btn {
    width: 20px; height: 20px; background: none;
}
main .login_bg .login #login_frm fieldset ul .pw #view_btn img {width: 100%;}
/* frm-login_btn */
main .login_bg .login #login_frm fieldset ul .login_btn {
    margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .login_btn #login_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #fff; background: #7a7a7a; width: 400px;
    border-radius: 10px; padding: 22.5px 0;
    transition: background 0.2s;
}
main .login_bg .login #login_frm fieldset ul .login_btn #login_btn:hover {
    background: #5a5a5a;
}
/* frm-id_pw */
main .login_bg .login #login_frm fieldset ul .id_pw {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; width: 400px; margin-bottom: 40px;
}

/* checkbox */
main .login_bg .login #login_frm fieldset ul .id_pw .checkbox {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; 
}
main .login_bg .login #login_frm fieldset ul .id_pw .checkbox input[id="chkbox"] {display: none;}
main .login_bg .login #login_frm fieldset ul .id_pw .checkbox input[id="chkbox"] + label em {
    display: inline-block; background: url(../images/login/check_off.png) 0 0 no-repeat;
    width: 22px; height: 22px; margin-right: 10px; vertical-align: middle;
}
main .login_bg .login #login_frm fieldset ul .id_pw .checkbox input[id="chkbox"]:checked + label em {
    background: url(../images/login/check_on.png) 0 0 no-repeat;
}
main .login_bg .login #login_frm fieldset ul .id_pw .checkbox label {
    font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04rem;
    color: #434343;
}

main .login_bg .login #login_frm fieldset ul .id_pw a {
    font-size: 1.333rem; letter-spacing: -0.04em; color: #7a7a7a;
}
/* frm-sns */
main .login_bg .login #login_frm fieldset ul .sns {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .sns a {
    width: 42px; height: 42px; margin-right: 20px;
}
main .login_bg .login #login_frm fieldset ul .sns a img {
    width: 100%;
}
/* frm-protect */
main .login_bg .login #login_frm fieldset ul .protect {
    text-align: center; margin-bottom: 40px;
}
main .login_bg .login #login_frm fieldset ul .protect span {
    letter-spacing: -0.04em; line-height: 30px; font-size: 1.333rem;
    color: #7a7a7a;
}
/* frm-join */
main .login_bg .login #login_frm fieldset ul .join {
    margin-bottom: 10px;
}
main .login_bg .login #login_frm fieldset ul .join #join_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #ffc128; background: none; width: 400px;
    border-radius: 10px; padding: 22.5px 0; border: 1px solid #ffc128;
    transition: background 0.2s;
}
main .login_bg .login #login_frm fieldset ul .join #join_btn:hover {
    background: #f4f4f4;
}
/* frm-no_memeber */
main .login_bg .login #login_frm fieldset ul .no_member {
    margin-bottom: 25px;
}
main .login_bg .login #login_frm fieldset ul .no_member #no_member_btn {
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #434343; background: none; width: 400px;
    border-radius: 10px; padding: 22.5px 0; border: 1px solid #7a7a7a; transition: background 0.2s;
}
main .login_bg .login #login_frm fieldset ul .no_member #no_member_btn:hover {
    background: #f4f4f4;
}
/* frm-line */
main .login_bg .login #login_frm fieldset ul .span {margin-bottom: 25px;}
main .login_bg .login #login_frm fieldset ul .span span {
    display: inline-block; width: 400px; height: 1px; background: #7a7a7a;
}
/* frm-phone_login */
main .login_bg .login #login_frm fieldset ul .phone_login {
    background: #def0f0; border-radius: 10px;
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn {
    display: flex; flex-flow: row nowrap; align-items: center;  padding: 20px 0; width: 400px;
    background: none; justify-content: center;
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn img {
    width: 20px; height: 20px; margin-right: 10px; 
}
main .login_bg .login #login_frm fieldset ul .phone_login #phone_login_btn .ph {
    font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #434343;
}