/* main */
main {}
/* title */
main .title_bg {width: 100%; border-top: 1px solid #000;}
main .title_bg .title {
    width: 1280px; margin: 0 auto; padding: 50px 0 20px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: flex-end;
}
main .title_bg .title h2 {
    font-weight: 700; font-size: 2.369rem; letter-spacing: -0.04em;
    color: #212522;
}
main .title_bg .title .right {
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .title_bg .title .right a {
    letter-spacing: -0.04em; color: #7a7a7a;
}
main .title_bg .title .right .arrow {
    color: #7a7a7a; margin-left: 10px;
}
main .title_bg .title .right .qna {
    letter-spacing: -0.04em; color: #212522; margin-left: 10px;
}
/* find_qna */
main .find_qna_bg {width: 100%;}
main .find_qna_bg .find_qna {
    background: #f3f5f8;
    width: 1280px; margin: 0 auto; padding: 30px 0;
}
main .find_qna_bg .find_qna h3 {
    text-align: center; font-weight: 700; font-size: 1.777rem;
    letter-spacing: -0.04em; color: #e1676f;
}
/* first_qna */
main .first_qna_bg {width: 100%;}
main .first_qna_bg .first_qna {
    width: 1280px; margin: 0 auto; padding: 20px 0;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: flex-start;
}
main .first_qna_bg .first_qna dt {
    font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #e1676f; text-decoration: underline; margin-bottom: 55px;
}
main .first_qna_bg .first_qna dd {
    font-size: 1.333rem; line-height: 35px; letter-spacing: -0.04em;
}
/* second_qna */
main .second_qna_bg {width: 100%;}
main .second_qna_bg .second_qna {
    width: 1280px; margin: 0 auto; padding: 20px 0;
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    align-items: flex-end;
}
main .second_qna_bg .second_qna dt {
    font-weight: 500; font-size: 1.333rem; letter-spacing: -0.04em;
    color: #e1676f; text-decoration: underline; margin-bottom: 55px;
}
main .second_qna_bg .second_qna dd {
    font-size: 1.333rem; line-height: 35px; letter-spacing: -0.04em;
    text-align: right;
}
/* contents */
main .contents_bg {width: 100%;}
main .contents_bg .contents {
    width: 1280px; margin: 0 auto; padding: 50px 0;
}
main .contents_bg .contents iframe {
    width: 1280px; height: 650px; text-align: center;
}