/* 반응형웹 */

/* header */
@media screen and (max-width:1280px) {
    header .top_bg .top {width: 100%;}/* 600 */
    header .middle {width: 100%;}/* 1020 */
    header .bottom {width: 100%;}/* 950 */
}/* 1280 */
@media screen and (max-width:1020px) {
    header .middle .left {display: none;}
    header .middle > .middle {justify-content: space-between;}/* 650 */
}/* 1020 */
@media screen and (max-width:950px) {
    header .bottom #nav a {font-size: 0.933rem;}/* 650 */
    header .bottom #nav .face span, header .bottom #nav .eye span, header .bottom #nav .lip span {font-size: 0.933rem;}/* 650 */
    header .bottom #nav a {margin-right: 13px;}/* 650 */
}/* 950 */
@media screen and (max-width:650px) {
    header .middle .right {display: none;}
    header .middle > .middle {justify-content: center;}/* 350 */
    header .bottom #nav a {margin-right: 7px;}/* 600 */
    header .bottom #nav .face span, header .bottom #nav .eye span, header .bottom #nav .lip span {margin-right: 1px;}/* 600 */
}/* 650 */
@media screen and (max-width:600px) {
    header .top_bg .top .left {font-size: 0.833rem;}/* 440 */
    header .top_bg .top .left .naver {margin-right: 7px;}/* 440 */
    header .top_bg .top .right a {font-size: 0.833rem; margin-right: 7px;}/* 440 */
    header .top_bg .top .right {align-items: center;}/* 440 */
    header .bottom #nav a:nth-child(5), header .bottom #nav a:nth-child(6), header .bottom #nav a:nth-child(7) {display: none;}/* 420 */
}/* 600 */

/* footer */
@media screen and (max-width:1350px) {
    footer .contents {width: 95%}
    footer .contents .top .right {display: none;}/* 670 */
    footer .contents .top {width: 100%; justify-content: flex-start;}/* 1090 */
    footer .contents .top #fnb {margin-right: 150px;}/* 1090 */
    footer .contents .bottom {width: 100%;}/* 1090 */
}/* 1350 */
@media screen and (max-width:1090px) {
    footer .contents .top .middle, footer .contents .bottom .right {display: none;}/* 750 */
    footer .contents .top {margin-bottom: 0px;}
}/* 1090 */
@media screen and (max-width:795px) {
    footer .contents .top #fnb a {position: relative; margin-right: 5px;}/* 650 */
    footer .contents .top #fnb a::after {position: absolute; right: -16px;}/* 650 */
}/* 795 */
@media screen and (max-width:750px) {
    footer .contents .top #fnb a, footer .contents .top #fnb a em, footer .contents .bottom .left #address {font-size: 0.833rem;}/* 650 */
}/* 750 */
@media screen and (max-width:650px) {
    footer .contents .top #fnb a::after, footer .contents .bottom .left #address span {margin: 0 5px;}/* 600 */
}/* 650 */
@media screen and (max-width:600px) {
    footer .contents .top #fnb a, footer .contents .top #fnb a em, footer .contents .bottom .left #address {font-size: 0.733rem;}/* 520 */
}/* 600 */

/* index-main */
/* index-main-top_slide */
@media screen and (max-width:1500px) {
    main #top_slide .swiper-button-prev {left: 100px;}/* 750 */
    main #top_slide .swiper-button-next {right: 100px;}/* 750 */
}/* 1500 */
@media screen and (max-width:750px) {
    main #top_slide .swiper-button-prev {left: 50px;}/* 400 */
    main #top_slide .swiper-button-next {right: 50px;}/* 400 */
}/* 750 */
/* index-main-event_bnr */
@media screen and (max-width:1280px) {
    main .event_bg .event {width: 100%;}/* 1220 */
}/* 1280 */
@media screen and (max-width:1220px) {
    main .event_bg .event {padding: 10px 54px; justify-content:center;}/* 900 */
}/* 1220 */
@media screen and (max-width:900px) {
    main .event_bg .event span, main .event_bg .event span em {font-size: 0.933rem;}/* 690 */
    main .event_bg .event img {width: 90px; height: 50px;}/* 690 */
}/* 900 */
@media screen and (max-width:690px) {
    main .event_bg .event span, main .event_bg .event span em {font-size: 0.833rem;}/* 600 */
    main .event_bg .event img {width: 80px; height: 40px; margin-right: -5px;}/* 600 */
}/* 690 */
@media screen and (max-width:600px) {
    main .event_bg .event {padding: 7px 20px;}/* 520 */
    main .event_bg .event img {margin-left: 3px;}/* 520 */
    main .event_bg .event span, main .event_bg .event span em {line-height: 20px;}
}/* 600 */
/* index-main-coupon */
@media screen and (max-width:1280px) {
    main .coupon_bg .coupon {width: 100%;}/* 1260 */
}/* 1280 */
@media screen and (max-width:1260px) {
    main .coupon_bg .coupon {padding: 0px 20px; justify-content: center;}/* 960 */
}/* 1260 */
@media screen and (max-width:1260px) {
    main .coupon_bg {height: 300px;}
    main .coupon_bg .coupon {height: 300px;}
    main .coupon_bg .coupon .left {background-size: cover; width: 291px; height: 170px;}
    main .coupon_bg .coupon .left .txt span:last-child {font-size: 2.657rem;}
    main .coupon_bg .coupon .left .txt {top: 38px;}
    main .coupon_bg .coupon .right .top {font-size: 1.769rem;}
    main .coupon_bg .coupon .right a {padding: 15px 60px;}/* 모두 770 */
}/* 1260 */
@media screen and (max-width:770px) {
    main .coupon_bg {height: 289px;}
    main .coupon_bg .coupon {flex-flow: column nowrap; height: 289px;}
    main .coupon_bg .coupon .left {width: 220px; margin-top: 20px; margin-right: 0; height: 120px;}
    main .coupon_bg .coupon .left .txt {top: 28px;}
    main .coupon_bg .coupon .left .txt span:first-child {margin-bottom: 13px;}
    main .coupon_bg .coupon .left .txt span:last-child {font-size: 1.677rem;}
    main .coupon_bg .coupon .right {align-items: center; padding: 17.5px 0;}
    main .coupon_bg .coupon .right .top {font-size: 1.333rem; margin-bottom: 12px;}
    main .coupon_bg .coupon .right .bottom {margin-bottom: 12px;}/* 모두 380 */
}/* 770 */
/* index-main-bottom_slide */
@media screen and (max-width:1670px) {
    main .new_item_bg .new_item {width: 100%;}
    main .new_item_bg .new_item {padding: 80px 205px 50px;}
    main .new_item_bg .new_item .swiper-button-prev {left: 50px;}/* 1130 */
    main .new_item_bg .new_item .swiper-button-next {right: 50px;}/* 1130 */
}/* 1670 */
@media screen and (max-width:1500px) {
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 {justify-content: center;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left {width: 350px; height: 350px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right h3 {font-size: 1.777rem; line-height: 37px; margin-bottom: 20px;} 
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price {font-size: 1.777rem; margin-bottom: 20px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price em {font-size: 1.777rem;}
    main .new_item_bg .new_item {padding: 50px 0;}
    main .new_item_bg .new_item h2 {margin-bottom: 30px;}
    main .new_item_bg {margin-bottom: 30px;}/* 모두 1130 */
}/* 1500 */
@media screen and (max-width:1130px) {
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left {width: 210px; height: 210px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right h3 {font-size: 1.333rem; line-height: 31px; margin-bottom: 15px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price em {font-size: 1.333rem; margin-bottom: 15px;}/* 모두 815 */
}/* 1130 */
@media screen and (max-width:815px) {
    main .new_item_bg .new_item .swiper-button-prev {left: 10px; width: 50px; height: 50px; background-size: cover;}
    main .new_item_bg .new_item .swiper-button-next {right: 10px; width: 50px; height: 50px; background-size: cover;}
    main .new_item_bg .new_item h2 {font-size: 1.777rem;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left {width: 150px; height: 150px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right h3, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right h3 {font-size: 1rem; line-height: 26px; margin-bottom: 10px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price em, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price em {font-size: 1rem; margin-bottom: 10px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .arrival img, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .arrival img, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .arrival img {width: 20px; height: 20px; margin-right: 3px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .arrival span, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .arrival span, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .arrival span {font-size: 0.9rem;}/* 모두 740 */
}/* 815 */
@media screen and (max-width:740px) {
    main .new_item_bg .new_item {padding: 30px 0;}/* 600 */
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper {padding: 0 126.5px;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left, main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left {margin-right: 30px;}
}/* 740 */
/* index-main-foundation_bnr */
@media screen and (max-width:1300px) {
    main .foundation img {height: 128px;}/* 900 */
}/* 1300 */
@media screen and (max-width:900px) {
    main .foundation img {height: 100px;}
}