/* Mobile */
@media screen and (max-width:700px) {
    /* header */
    header {}
    /* top */
    header .top_bg {
    }
    header .top_bg .top {
        width: 670px; margin: 0 auto; display: flex; 
        flex-flow: row nowrap; justify-content: space-between;
        align-items: center;
    }
    header .top_bg .top .left { display: flex; flex-flow: row nowrap;
        align-items: center;
    }
    header .top_bg .top .left .naver { width: 70px; height: 34.71px;
        margin-right: 10px;
    }
    header .top_bg .top .left .naver img {width: 100%;}
    header .top_bg .top .left a {font-size: 0.938rem;}
    header .top_bg .top .right {display: flex; flex-flow: row nowrap;
    }
    header .top_bg .top .right a {font-size: 0.938rem; margin-right: 10px;
    }
    header .top_bg .top .right a:last-child {margin-right: 0;}
    header .top_bg .top .right .menu {}
    header .top_bg .top .right .menu img {}
    /* middle */
    header .middle {
        width: 670px; margin: 0 auto;
        display: flex; flex-flow: row nowrap;
        align-items: center; justify-content: space-between;
    }
    header .middle .left {display:none}
    header .middle .middle h1 a {
        width: 150px; height: 46.41px;
    }
    header .middle .middle h1 a img {width: 100%;}
    header .middle .right {}
    header .middle .right #search_frm {}
    header .middle .right #search_frm fieldset {
        width: 200px; height: 35px; border-radius: 50px;
        background: #fff; display: flex; 
        flex-flow: row nowrap; align-items: center;
    } 
    header .middle .right #search_frm fieldset #txt_input {
        width: 75%; font-size: 0.938rem;
        margin-left: 15px;
    }
    header .middle .right #search_frm fieldset #search_btn {
        width: 18px; height: 18px; background: none;
        margin-left: 8px;
    }
    header .middle .right #search_frm fieldset #search_btn img {width: 100%;}
    /* bottom */
    header .bottom {
        width: 670px; margin: 0 auto;
        padding: 27.5px 0;
    }
    header .bottom #nav {
    }
    header .bottom #nav a {
        font-size: 0.938rem; margin-right: 10px;
    }
    header .bottom #nav .face span,
    header .bottom #nav .eye span,
    header .bottom #nav .lip span {
        font-size: 0.938rem;
    }
    /* main */
    main {}
    /* swiper1 */
    main #top_slide {}
    main #top_slide .swiper-wrapper {}
    main #top_slide .swiper-wrapper .swiper-slide {}
    main #top_slide .swiper-wrapper .slide1 {
        background: url(../images/mobile/mobile_slide1.jpg) no-repeat;
    }
    main #top_slide .swiper-wrapper .slide2 {
        background: url(../images/mobile/mobile_slide2.jpg) no-repeat;
    }
    main #top_slide .swiper-wrapper .slide3 {
        background: url(../images/mobile/mobile_slide3.jpg) no-repeat;
    }
    main #top_slide .swiper-pagination {
        position: absolute; bottom: 50px;
    }
    main #top_slide .swiper-pagination .swiper-pagination-bullet-active {}
    main #top_slide .swiper-button-prev {
        width: 70px; height: 70px;
        background: url(../images/main/diretion_left.png);
        top: 406px; left: 5px;
    }
    main #top_slide .swiper-button-next {
        width: 70px; height: 70px;
        background: url(../images/main/diretion_right.png);
        top: 406px; right: 5px;
    }
    /* swiper-slide 라이브러리에서 기본제공하는 이전, 다음 숨기기 */
    main #top_slide .swiper-button-prev::after,
    main #top_slide .swiper-button-next::after {
        display: none;
    }
    /* event_bnr */
    main .event_bg {
        background: #f3f5f8; 
        width: 100%; height: 60px;
    }
    main .event_bg .event {
        width: 670px; margin: 0 auto;
        display: flex; flex-flow: row nowrap;
        align-items: center; padding: 0 41px;
    }
    main .event_bg .event span {
        font-size: 1rem; letter-spacing: -0.04em;
    } 
    main .event_bg .event span em {
        font-size: 1rem; letter-spacing: -0.04em;
        color: #8a5d3d;
    }
    main .event_bg .event img {
        width: 80px; height: 48px;
        margin-left: 3px;
    }
    /* coupon */
    main .coupon_bg {
        background-color: #e1676f;
        width: 100%; height: 340px;
    }
    main .coupon_bg .coupon {
        width: 670px; margin: 0 auto; height: 340px;
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: center;
        padding: 30px 0;
    }
    main .coupon_bg .coupon .left {
        width: 230px; height: 133.64px;
        background: url(../images/mobile/mobile_coupon.png) no-repeat; margin-right: 0;
        position: relative;
    }
    main .coupon_bg .coupon .left .txt {
        position: absolute; top: 25px;
        display: flex; flex-flow: column nowrap;
        align-items: center;
    }
    main .coupon_bg .coupon .left .txt span:first-child {
        font-weight: 700; letter-spacing: -0.04em;
        color: #e1676f; margin-bottom: 20px; 
        font-size: 1rem;
    }
    main .coupon_bg .coupon .left .txt span:last-child {
        font-weight: 700; font-size: 1.777rem;
        letter-spacing: -0.04em; 
    }
    main .coupon_bg .coupon .right {
        display: flex; flex-flow: column nowrap;
        align-items: center;
    }
    main .coupon_bg .coupon .right .top {
        font-size: 1.333rem; letter-spacing: -0.04em;
        color: #fff; margin-bottom: 15px;
    }
    main .coupon_bg .coupon .right .bottom {
        letter-spacing: -0.04em; color: #fff;
        margin-bottom: 15px; font-size: 1rem;
    }
    main .coupon_bg .coupon .right a {
        font-weight: 700; letter-spacing: -0.04em;
        color: #fff; padding: 20px 60px;
        border: 1px solid #fff; font-size: 1rem;
        transition: background 0.2s;
        transition: color 0.2s;
    }
    main .coupon_bg .coupon .right a:hover {
        background: #fff; color: #e1676f;
    }
    /* new_item */
    main .new_item_bg {width: 100%; position: relative;}
    main .new_item_bg .new_item {
        width: 670px; margin: 0 auto; padding: 50px 0;
    }
    main .new_item_bg .new_item h2 {
        font-weight: 700; font-size: 2.369rem ; letter-spacing: -0.04em;
        margin-bottom: 50px; text-align: center;
    }
    
    /* swiper */
    main .new_item_bg .new_item #bottom_slide {}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper {
        padding: 0 77px; 
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .swiper-slide {}
    /* slide1, 2, 3 */
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 {
        display: flex; flex-flow: row nowrap; align-items: center;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left {
        width: 210px; height: 210px; margin-right: 50px;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .left img,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .left img,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .left img {width: 100%;}
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right {
        width: 256px;
        display: flex; flex-flow: column nowrap; align-items: flex-start;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right h3,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right h3,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right h3 {
        font-size: 1.1rem; line-height: 31px; letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price {
        font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .price em,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .price em,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .price em {
        font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em; color: #ffc128;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .arrival,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .arrival,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .arrival {
        display: flex; flex-flow: row nowrap; justify-content: space-between;
        align-items: center; 
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .arrival img,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .arrival img,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .arrival img {
        width: 25px; height: 25px; margin-right: 5px;
    }
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide1 .right .arrival span,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide2 .right .arrival span,
    main .new_item_bg .new_item #bottom_slide .swiper-wrapper .slide3 .right .arrival span {
        font-weight: 700; font-size: 1.333rem; letter-spacing: -0.04em; color: #e1676f;
    }
    /* pagination */
    main .new_item_bg .new_item .swiper-pagination {}
    main .new_item_bg .new_item .swiper-pagination span {}
    main .new_item_bg .new_item .swiper-pagination .swiper-pagination-bullet-active {background-color: #ffc128;}
    /* If we need navigation buttons */
    main .new_item_bg .new_item .swiper-button-prev {
        width: 70px; height: 70px; left: 5px;
        background: url(../images/main/diretion_left.png);
    }
    main .new_item_bg .new_item .swiper-button-next {
        width: 70px; height: 70px; right: 5px;
        background: url(../images/main/diretion_right.png);
    }
    /* swiper-slide 라이브러리에서 기본제공하는 이전, 다음 숨기기 */
    main .new_item_bg .new_item .swiper-button-prev::after,
    main .new_item_bg .new_item .swiper-button-next::after {
        display: none;
    }
    
    /* foundation_bnr */
    main .foundation {background-image: url(../images/mobile/mobile_foundation_bnr.jpg); background-size: cover;}
    main .foundation img { background: none;
        width: 700px; height: 170px; margin: 0 auto;}
    /* weekly_best */
    main .weekly_best_bg {width: 100%;}
    main .weekly_best_bg .weekly_best {
        width: 670px; margin: 0 auto; padding: 50px 0;
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: center;
    }
    main .weekly_best_bg .weekly_best h2 {
        font-weight: 700; font-size: 2.369rem;
        letter-spacing: -0.04em; margin-bottom: 50px;
    }
    main .weekly_best_bg .weekly_best .contents {
        width: 560px;
        display: flex; flex-flow: row nowrap;
        justify-content: space-between; align-items: flex-start;
    }
    /* weekly_best_item */
    main .weekly_best_bg .weekly_best .contents .item3,
    main .weekly_best_bg .weekly_best .contents .item4 {
        display: none;
    }
    main .weekly_best_bg .weekly_best .contents .item1,
    main .weekly_best_bg .weekly_best .contents .item2 {
        width: 250px; display: flex; flex-flow: column;
        justify-content: space-between;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .top,
    main .weekly_best_bg .weekly_best .contents .item2 .top {
        width: 250px; height: 304.99px; margin-bottom: 20px;
        position: relative;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .top span,
    main .weekly_best_bg .weekly_best .contents .item2 .top span {font-size: 1rem;
        font-weight: 500; letter-spacing: -0.04em;
        color: #fff; padding: 9px 10px; background: #ffc128; position: absolute; top: 0; left: 0;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .top img,
    main .weekly_best_bg .weekly_best .contents .item2 .top img {
        width: 100%;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom {
        width: 250px; display: flex; flex-flow: column nowrap; align-items: flex-start;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom h3,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom h3 {
        font-size: 1rem; line-height: 23px; 
        letter-spacing: -0.04em; margin-bottom: 20px;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .price,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .price {
        font-weight: 700; font-size: 1rem; 
        letter-spacing: -0.04em; margin-bottom: 20px;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .price em,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .price em {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em; color: #ffc128;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .review,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .review {
        letter-spacing: -0.04em; color: #7a7a7a;
        margin-bottom: 20px; font-size: 1rem;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .arrival,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .arrival {
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .arrival img,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .arrival img {
        width: 21px; height: 21px; margin-right: 5px;
    }
    main .weekly_best_bg .weekly_best .contents .item1 .bottom .arrival span,
    main .weekly_best_bg .weekly_best .contents .item2 .bottom .arrival span {
        font-weight: 700; letter-spacing: -0.04em;
        color: #e1676f; font-size: 1rem;
    }
    
    /* categoty */
    main .category_bg {
        width: 100%;
    }
    main .category_bg .category {
        width: 670px; display: flex; 
        flex-flow: column nowrap; 
        align-items: center; padding: 50px 0;
        margin: 0 auto;
    }
    main .category_bg .category h2 {
        font-weight: 700; font-size: 2.369rem;
        letter-spacing: -0.04em; margin-bottom: 50px;
    }
    main .category_bg .category .contents {
        width: 510px; display: flex;
        flex-flow: row wrap; justify-content: space-between;
    }
    /* face */
    main .category_bg .category .contents .face {
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: flex-start;
        margin-bottom: 30px;
    }
    @keyframes move {
        0% {transform: translateX(0);}
        100% {transform: translateX(10px);}
    }
    main .category_bg .category .contents .face:hover {
        animation: move 1s;
    }
    main .category_bg .category .contents .face p {
        width: 230px; height: 219.88px; 
        margin-bottom: 15px; 
    }
    main .category_bg .category .contents .face p img {width: 100%;}
    main .category_bg .category .contents .face h3 {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em;
    }
    /* eye */
    main .category_bg .category .contents .eye {
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: flex-start; margin-bottom: 30px;
    }
    main .category_bg .category .contents .eye:hover {
        animation: move 1s;
    }
    main .category_bg .category .contents .eye p {
        width: 230px; height: 219.88px; 
        margin-bottom: 15px;
    }
    main .category_bg .category .contents .eye p img {width: 100%;}
    main .category_bg .category .contents .eye h3 {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em;
    }
    /* lip */
    main .category_bg .category .contents .lip {
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: flex-start;
    }
    main .category_bg .category .contents .lip:hover {
        animation: move 1s;
    }
    main .category_bg .category .contents .lip p {
        width: 230px; height: 219.88px; 
        margin-bottom: 15px;
    }
    main .category_bg .category .contents .lip p img {width: 100%;}
    main .category_bg .category .contents .lip h3 {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em;
    }
    /* make_tool */
    main .category_bg .category .contents .makeup_tool {
        display: flex; flex-flow: column nowrap;
        justify-content: space-between; align-items: flex-start; 
    }
    main .category_bg .category .contents .makeup_tool:hover {
        animation: move 1s;
    }
    main .category_bg .category .contents .makeup_tool p {
        width: 230px; height: 219.88px;
        margin-bottom: 15px;
    }
    main .category_bg .category .contents .makeup_tool p img {width: 100%;}
    main .category_bg .category .contents .makeup_tool h3 {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em;
    }
    /* best_review */
    main .best_review_bg {
        width: 100%;
    }
    main .best_review_bg .best_review {
        width: 670px; margin: 0 auto;
        display: flex; flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center; padding: 50px 0;
    }
    main .best_review_bg .best_review h2 {
        font-weight: 700; font-size: 2.369rem;
        letter-spacing: -0.04em; margin-bottom: 50px;
    }
    main .best_review_bg .best_review .contents {
        width: 630px; display: flex; 
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    /* best_review_item */
    main .best_review_bg .best_review .contents .item3 {
        display: none;
    }
    main .best_review_bg .best_review .contents .item1,
    main .best_review_bg .best_review .contents .item2 {
        width: 300px; display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    main .best_review_bg .best_review .contents .item1 .img,
    main .best_review_bg .best_review .contents .item2 .img {width: 300px; height: 300px; margin-bottom: 30px;}
    main .best_review_bg .best_review .contents .item1 .img img,
    main .best_review_bg .best_review .contents .item2 .img img {width: 100%;}
    main .best_review_bg .best_review .contents .item1 h3,
    main .best_review_bg .best_review .contents .item2 h3 {
        font-size: 1.333rem; letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    main .best_review_bg .best_review .contents .item1 .socre,
    main .best_review_bg .best_review .contents .item2 .socre {
        display: flex; flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center; margin-bottom: 20px;
    }
    main .best_review_bg .best_review .contents .item1 .socre .left,
    main .best_review_bg .best_review .contents .item2 .socre .left {
        display: flex; flex-flow: row nowrap;
    }
    main .best_review_bg .best_review .contents .item1 .socre .left img,
    main .best_review_bg .best_review .contents .item2 .socre .left img {margin-right: 5px}
    main .best_review_bg .best_review .contents .item1 .socre .left img:last-child,
    main .best_review_bg .best_review .contents .item2 .socre .left img:last-child {margin-right: 0;}
    main .best_review_bg .best_review .contents .item1 .socre .right,
    main .best_review_bg .best_review .contents .item2 .socre .right {}
    main .best_review_bg .best_review .contents .item1 .socre .right .number,
    main .best_review_bg .best_review .contents .item2 .socre .right .number {
        font-weight: 700; font-size: 1.333rem;
        letter-spacing: -0.04em; margin-left: 8px;
    }
    main .best_review_bg .best_review .contents .item1 .buyer,
    main .best_review_bg .best_review .contents .item2 .buyer {
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
    }
    main .best_review_bg .best_review .contents .item1 .buyer .left,
    main .best_review_bg .best_review .contents .item2 .buyer .left {
        width: 215px;
    }
    main .best_review_bg .best_review .contents .item1 .buyer .left .top,
    main .best_review_bg .best_review .contents .item2 .buyer .left .top { font-size: 1rem;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    main .best_review_bg .best_review .contents .item1 .buyer .left .bottom,
    main .best_review_bg .best_review .contents .item2 .buyer .left .bottom {font-size: 1rem;
        letter-spacing: -0.04em; color: #7a7a7a;
    }
    main .best_review_bg .best_review .contents .item1 .buyer .right,
    main .best_review_bg .best_review .contents .item2 .buyer .right {
        width: 60px; height: 60px;
    }
    main .best_review_bg .best_review .contents .item1 .buyer .right img,
    main .best_review_bg .best_review .contents .item2 .buyer .right img {width: 100%;}
    /* cushion_bur */
    main .cushion {background-image: url(../images/mobile/mobile_cushion_bnr.jpg); background-size: cover;}
    main .cushion img {background: none;
        width: 700px; height: 170px; margin: 0 auto;
    }
    /* video */
    main .video_bg {
        width: 100%;
    }
    main .video_bg .video {
        width: 670px; margin: 0 auto;
        padding: 50px 35px;
    }
    main .video_bg .video video {
        width: 600px; height: 336.72px;
    }
    /* last_bnr */
    main .last_bnr_bg {
        width: 100%;
        background: url(../images/mobile/mobile_last_bnr.jpg) no-repeat;
        background-size: cover;
    }
    main .last_bnr_bg .last_bnr {
        width: 670px; margin: 0 auto;
        padding: 50px 0; display: flex;
        flex-flow: column nowrap; 
        justify-content: space-between;
        align-items: center;
    }
    main .last_bnr_bg .last_bnr .logo {
        width: 150px; height: 46.41px; margin-bottom: 30px;
    }
    main .last_bnr_bg .last_bnr .logo img {width: 100%;}
    main .last_bnr_bg .last_bnr .brand {
        font-size: 1rem; line-height: 26px;
        letter-spacing: -0.04em; color: #fff;
        text-align: center; margin-bottom: 30px;
    }
    main .last_bnr_bg .last_bnr .like {
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; margin-bottom: 30px;
    }
    main .last_bnr_bg .last_bnr .like span {
        font-size: 1rem; letter-spacing: -0.04em;
        color: #fff; margin-right: 3px;
    }
    main .last_bnr_bg .last_bnr .like #qusetion_btn2 {
        width: 18px; height: 18px; background: none;
    }
    main .last_bnr_bg .last_bnr .like #qusetion_btn2 img {
        width: 100%;
    }
    main .last_bnr_bg .last_bnr .button {
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
    }
    main .last_bnr_bg .last_bnr .button #inform_btn2 {
        display: flex; flex-flow: row nowrap;
        align-items: center; background: #eee;
        padding: 17.5px 84px; border-radius: 50px;
        margin-right: 15px;
        transition: background 0.2s;
    }
    main .last_bnr_bg .last_bnr .button #inform_btn2:hover {
        background: #e1676f;
    }
    main .last_bnr_bg .last_bnr .button #inform_btn2 img {
        width: 20px; height: 20px; margin-right: 5px;
    }
    main .last_bnr_bg .last_bnr .button #inform_btn2 span {
        font-weight: 700; font-size: 1rem;
        letter-spacing: -0.04em;
    }
    main .last_bnr_bg .last_bnr .button #share_btn {
        background: #ffc128; padding: 18.5px;
        border-radius: 50px; transition: background 0.2s;
    }
    main .last_bnr_bg .last_bnr .button #share_btn:hover {
        background-color: #e1676f;
    }
    main .last_bnr_bg .last_bnr .button #share_btn img {
        width: 18px; height: 18px;
    }
    /* footer */
    footer {
        width: 100%;
    }
    footer .contents {
        width: 670px; margin: 0 auto;
        padding: 44px 0;
    }
    footer .contents .top {
        width: 670px; margin-bottom: 15px;
    }
    footer .contents .top #fnb {
        padding: 0 0 20px 0;
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    footer .contents .top #fnb a {
        letter-spacing: -0.04em; font-size: 0.875rem;
    }
    footer .contents .top #fnb a::after {
        display: inline-block; content: '';
        background: #000; width: 1px; height: 12px;
        margin: 0 10px;
    }
    footer .contents .top #fnb a:nth-child(6)::after {
        display: none;
    }
    footer .contents .top #fnb a em {
        font-weight: 700; letter-spacing: -0.04em; font-size: 0.875rem;
    }
    footer .contents .top .middle,
    footer .contents .top .right { 
        display: none;
    }
    footer .contents .bottom {
        width: 670px;
    } 
    footer .contents .bottom .left {
        padding-bottom: 19px;
    }
    footer .contents .bottom .left #address {
        letter-spacing: -0.04em; font-size: 0.83rem;
        line-height: 25px;
    }
    footer .contents .bottom .left #address span {
        width: 1px; height: 11px; background: #000;
        display: inline-block; margin: 0 10px;
    }
    footer .contents .bottom .right {
        display: none;
    }
} /* 700 end */